# Prerequisites
*.d
.gdb_history
test_graphs

*.txt

# Graphs
2gb.txt
8suCBQ10.txt
8suCBQ10v2.txt
8suPGJ.txt
64gb.txt
PGJ10_500.txt
PGJ10_500(1).txt

# Create Graphs
src/Parte1/createGraphs.py

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
